@import "../../styles/functions.scss";

.About {
  .support {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    @include mq() {
      grid-template-columns: repeat(4, 1fr);
    }
    //あとで整理
    padding: 0;
    list-style: none;
    li {
      margin: 0;
    }
  }
}
