@import "../../styles/functions.scss";

.linksText {
  font-size: 16px;
  font-weight: 700;
}

.links {
  margin-top: 16px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  margin-bottom: 56px;
  iframe {
    width: 100%;
  }
  .linksTitle {
    font-weight: 700;
    text-align: center;
  }
  @include mq() {
    grid-template-columns: repeat(4, 1fr);
  }
}