@import "../../styles/functions.scss";

.imageGallery {
  padding: 56px 0;
  position: relative;

  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    @include mq() {
      grid-template-columns: repeat(4, 1fr);
    }

    li {
      height: 150px;
      position: relative;
      background-color: #ddd;
      @include mq() {
        height: 200px;
      }
      .imgWrap {
        height: 100%;
        overflow: hidden;
        position: relative;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      // 1つめだけ注釈表示
      .captionMark {
        font-size: 24px;
        font-weight: 700;
        position: absolute;
        top: -30px;
        right: 0;
      }
    }
  }

  .caption {
    margin-top: 24px;
  }
}
