:root {
  --font-en: Times, serif;
  --color-text: #454142;
  --color-border: #a2a3a8;
  --color-main: rgb(255, 42, 94);
  --color-sub: rgb(255, 140, 69);
}
.App {
  font-family: var(--font-en);
  color: var(--color-text);
  line-height: 1.5;
  letter-spacing: 0.04em;
}
img {
  max-width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

.container {
  padding: 0 24px;
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
}

.hiddenSp {
  display: block;
  @media (max-width: 768px) {
    display: none;
  }
}
